path {
  stroke: #000000;
  stroke-width: 0.5px;
  fill: #000000;
}

text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
  text-anchor: middle; /* Center the text horizontally */
}



#sliderContainer {
  margin-top: 10px;
}


.hovered {
  fill: orange !important; /* Change the fill color on hover */
}

  